<p class="picksBanner">UPDATE PICKS</p>

<form action="/user/{{username}}/picks/update" method="POST">

<div class="onePMGames">
  <h2>1PM GAMES</h2>
  <div class="game One">
    <p><input type="radio" name="gameOneChoice" value="0">
      {{thisWeeksGame.gameOneUnderdog}} @
      <input type="radio" name="gameOneChoice" value="1">
      {{thisWeeksGame.gameOneFavorite}} ({{thisWeeksGame.gameOneSpread}})</p>
  </div>
  <div class="game Two">
    <p><input type="radio" name="gameTwoChoice" value="0">
      {{thisWeeksGame.gameTwoUnderdog}} @
      <input type="radio" name="gameTwoChoice" value="1">
      {{thisWeeksGame.gameTwoFavorite}} ({{thisWeeksGame.gameTwoSpread}})</p>
  </div>
  <div class="game Three">
    <p><input type="radio" name="gameThreeChoice" value="0">
      {{thisWeeksGame.gameThreeUnderdog}} @
      <input type="radio" name="gameThreeChoice" value="1">
      {{thisWeeksGame.gameThreeFavorite}} ({{thisWeeksGame.gameThreeSpread}})</p>
  </div>
  <div class="game Four">
    <p><input type="radio" name="gameFourChoice" value="0">
      {{thisWeeksGame.gameFourUnderdog}} @
      <input type="radio" name="gameFourChoice" value="1">
      {{thisWeeksGame.gameFourFavorite}} ({{thisWeeksGame.gameFourSpread}})</p>
  </div>
  <div class="game Five">
    <p><input type="radio" name="gameFiveChoice" value="0">
      {{thisWeeksGame.gameFiveUnderdog}} @
      <input type="radio" name="gameFiveChoice" value="1">
      {{thisWeeksGame.gameFiveFavorite}} ({{thisWeeksGame.gameFiveSpread}})</p>
  </div>
  <div class="game Six">
    <p><input type="radio" name="gameSixChoice" value="0">
      {{thisWeeksGame.gameSixUnderdog}} @
      <input type="radio" name="gameSixChoice" value="1">
      {{thisWeeksGame.gameSixFavorite}} ({{thisWeeksGame.gameSixSpread}})</p>
  </div>
  <div class="game Seven">
    <p><input type="radio" name="gameSevenChoice" value="0">
      {{thisWeeksGame.gameSevenUnderdog}} @
      <input type="radio" name="gameSevenChoice" value="1">
      {{thisWeeksGame.gameSevenFavorite}} ({{thisWeeksGame.gameSevenSpread}})</p>
  </div>
  <div class="game Eight">
    <p><input type="radio" name="gameEightChoice" value="0">
      {{thisWeeksGame.gameEightUnderdog}} @
      <input type="radio" name="gameEightChoice" value="1">
      {{thisWeeksGame.gameEightFavorite}} ({{thisWeeksGame.gameEightSpread}})</p>
  </div>
</div>

<div class="fourPMGames">
  <h2>4PM GAMES</h2>
  <div class="game Nine">
    <p><input type="radio" name="gameNineChoice" value="0">
      {{thisWeeksGame.gameNineUnderdog}} @
      <input type="radio" name="gameNineChoice" value="1">
      {{thisWeeksGame.gameNineFavorite}} ({{thisWeeksGame.gameNineSpread}})</p>
  </div>
  <div class="game Ten">
    <p><input type="radio" name="gameTenChoice" value="0">
      {{thisWeeksGame.gameTenUnderdog}} @
      <input type="radio" name="gameTenChoice" value="1">
      {{thisWeeksGame.gameTenFavorite}} ({{thisWeeksGame.gameTenSpread}})</p>
  </div>
  <div class="game Eleven">
    <p><input type="radio" name="gameElevenChoice" value="0">
      {{thisWeeksGame.gameElevenUnderdog}} @
      <input type="radio" name="gameElevenChoice" value="1">
      {{thisWeeksGame.gameElevenFavorite}} ({{thisWeeksGame.gameElevenSpread}})</p>
  </div>
  <div class="game Twelve">
    <p><input type="radio" name="gameTwelveChoice" value="0">
      {{thisWeeksGame.gameTwelveUnderdog}} @
      <input type="radio" name="gameTwelveChoice" value="1">
      {{thisWeeksGame.gameTwelveFavorite}} ({{thisWeeksGame.gameTwelveSpread}})</p>
  </div>
</div>

<div class="SNF">
  <h2>SUNDAY NIGHT GAME</h2>
  <div class="game Thirteen">
    <p><input type="radio" name="gameThirteenChoice" value="0">
      {{thisWeeksGame.gameThirteenUnderdog}} @
      <input type="radio" name="gameThirteenChoice" value="1">
      {{thisWeeksGame.gameThirteenFavorite}} ({{thisWeeksGame.gameThirteenSpread}})</p>
  </div>
</div>

<div class="MNF">
  <h2>MONDAY NIGHT GAME</h2>
  <div class="game Fourteen">
    <p><input type="radio" name="gameFourteenChoice" value="0">
      {{thisWeeksGame.gameFourteenUnderdog}} @
      <input type="radio" name="gameFourteenChoice" value="1">
      {{thisWeeksGame.gameFourteenFavorite}} ({{thisWeeksGame.gameFourteenSpread}})</p>
  </div>
</div>

<div class="MNFPoints">
  <h3>MNF POINTS: <input type="number" name="tiebreaker" max="200" min="0"></h3>
</div>

<div class="picksSubmit">
  <button type="submit">UPDATE</button>
</div>
</form>