<h2>USERNAME: {{user.[0].username}}</h2>
<h2>TEAM: {{user.[0].team}}</h2>
<h2>Weekly Picks</h2>

{{pick}}

{{{picks pick.[0]}}}

<br>

<a href="/user/{{user.[0].username}}/picks">CLICK HERE TO PICK</a>



